@font-face {
    font-family: Metropolis-Bold;
    src: url(../fonts/metropolis/Metropolis-Bold.otf);
}
@font-face {
    font-family: Metropolis-SemiBoldItalic;
    src: url(../fonts/metropolis/Metropolis-SemiBoldItalic.otf);
}
@font-face {
    font-family: Metropolis-Regular;
    src: url(../fonts/metropolis/Metropolis-Regular.otf);
}
@font-face {
    font-family: Metropolis-RegularItalic;
    src: url(../fonts/metropolis/Metropolis-RegularItalic.otf);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Metropolis-Regular;
}
.color-custom{
    color: #331177;
}
p{
    text-indent: 4%;
}

/* bootstrap btn class changed */
.btn-outline-primary{
    color: #321e78;
    border-color: #321e78;
}
.btn-outline-primary:hover{
    background-color: rgba(50, 30, 120, 0.2);
    border-color: #321e78;
    color: #321e78;
}
.btn-outline-primary:active,.btn-outline-primary:focus{
    background-color: rgba(50, 30, 120, 0.1) !important;
    border-color: rgba(50, 30, 120, 0.1) !important;
    color: #321e78 !important;
    box-shadow: none !important;
}
/* bootstrap btn class changed end*/

/* background */
#main-background {
    background-color: #ebebff;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
#back {
    height: 100%;
    background-image: url("../img/tlo.gif");
    background-size: 90%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    opacity: 0.15;
    overflow: hidden;
}
#stamp {
    width: 40%;
    bottom: 15%;
    position: fixed;
    opacity: 0.3;
    left: 65%;
    overflow: hidden;
}
@media (max-width: 991px) and (orientation: landscape){
    #back {
        background-size: 60%;
    }
    #stamp {
        width: 20%;
        bottom: 5%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    #back {
        background-size: 70%;
    }
    #stamp {
        width: 25%;
    }
}
@media (min-width: 992px){
    #back {
        background-size: 55%;
    }
    #stamp {
        width: 20%;
        bottom: 5%;
    }
}
@media (min-width: 768px) and (orientation: portrait){
    #back {
        background-size: 80%;
    }
    #stamp {
        width: 25%;
        bottom: 15%;
        left: 65%;
    }
}
/* background end*/

/* menu */
#navbar{
    opacity: 0.95;
}
    /* scroll effect */
#brandLogo{
    height: 90px;
    transition: height 0.5s;
}
    /* scroll effect end */

    /* hoover effect */
.a-hover {
    display: inline-block;
    position: relative;
    color: #331177;
  }
  .a-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #5878F3;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .a-hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
    /* hoover effect end*/

/* menu end */

/* index content */
.mainContentFoto{
    max-width: 100%;
    height: auto;
    border: 2px solid black;
}
#mainPic1{
    opacity: 0.1;
}
#mainConBox1{
    position: relative;
    border-left: 2px solid black;
    height: 90px;
    top: 20px;
}
#mainConText1{
    position: absolute;
    font-family: Metropolis-SemiBoldItalic;
    top: -25%;
    font-size: 6vw;
    left: 25px;
    opacity: 0.1;
}
#mainConText2{
    width: 100%;
    font-size: 5vw;
    font-family: Metropolis-RegularItalic;
    opacity: 0;
    padding-left: 15px;
}

    /* cross effect */
    #lineHorizontal{
        position: relative;
        border-left: 2px solid black;
        height: 90px;
        top: -47px;
        opacity: 0;
    }
    #lineVertical{
        position: absolute;
        border-bottom: 2px solid black;
        width: 90px;
        top: 45px;
        left: -45px;
    }
    /* cross effect end */
    
#mainPic2{
    width: 330px;
    position: relative;
    top: -75px;
    left: 25px;
    opacity: 0;
}

    /* font resize */
@media (min-width: 568px) and (max-width: 991px){
    #mainConText1{
        font-size: 5vw;
    }
    #mainConText2{
        font-size: 4vw;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    #mainConText1{
        font-size: 4vw;
    }
    #mainConText2{
        font-size: 3vw;
    }
}
@media (min-width: 1201px){
    #mainConText1{
        font-size: 3vw;
    }
    #mainConText2{
        font-size: 2vw;
    }
}
    /* font resize end */
    
    /* GPS picture */
#gpsSymbolPic{
    background-image: url(../img/gps-symbol.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;
    background-size: 170%;
}
        /* GPS picture resize */
        @media (max-width: 320px){
            #gpsSymbolPic {
                background-size: 220%;
            }
        }
        @media (max-width: 767px) and (orientation: landscape){
            #gpsSymbolPic {
                background-size: 120%;
            }
        }
        @media (min-width: 768px){
            #gpsSymbolPic {
                background-size: 100%;
            }
        }
        /* GPS picture resize end */

    #gpsSymbolPic > div{
        background-color: rgba(218, 221, 228, 0.6);
    }
    /* GPS picture end */
/* index content end */

/* news content */
.newsPicCard{
    position: relative;
}
.newsHeader{
    position: absolute;
    bottom: 0;
    left:0;
    background-color: rgba(50, 30, 120, 0.7);
}
.newsStrap{
    height: 3px;
    background-image: linear-gradient(to right, rgba(50, 30, 120, 1),rgba(50, 30, 120, 0))
}
/* news content end*/

/* carrer content */
.careerPicCard{
    position: relative;
    height: 30vh;
    background-image: url(../img/truck-on-road.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    transform: scaleX(-1);
    transition: 500ms ease-in-out;
}
.careerPicCard:hover{
    background-size: 110%;
}
.careerPicCard:hover > .careerHeader{
    font-size: 4.5vh;
    top: 18vh;
}
.careerHeader{
    position: absolute;
    top: 20vh;
    right: 8vw;
    background-color: rgba(50, 30, 120, 0.7);
    transform: scaleX(-1);
    transition: 500ms ease-in-out;
}
    /* career content resize */
    @media (max-width: 991px) and (orientation: landscape){
        .careerHeader{
            top: 12vh;
        }
        .careerPicCard:hover > .careerHeader{
            font-size: 8vh;
            top: 10vh;
        }
    }
    @media (min-width: 768px) and (max-width: 991px){
        .careerHeader{
            font-size: 2em;
        }
        .careerPicCard:hover > .careerHeader{
            font-size: 3.6vh;
            top: 8vh;
        }
    }
    @media (min-width: 992px){
        .careerHeader{
            font-size: 3em;
            top: 15vh;
        }
        .careerPicCard:hover > .careerHeader{
            font-size: 8vh;
            top: 12vh;
        }
    }
    @media (min-width: 768px) and (orientation: portrait){
        .careerHeader{
            top: 10vh;
        }
        .careerPicCard{
            height: 20vh;
        }
        .careerPicCard:hover > .careerHeader{
            font-size: 3.8vh;
            top: 8vh;
        }
    }
    #submit{
        width: 100px;
    }
    .counter{
        cursor: wait !important;
    }
    /* career content resize end*/
    
    /* carrer form */
    form{
        border-radius: 4%;
        background-color: rgba(235, 235, 255, 0.8);
    }
    /* carrer form end */

/* career content end*/

/* gallery */

.carousel-indicators{
    position: relative;
}
.carousel-indicators li{
    height: auto;
    width: auto;
}
.carousel-indicators li img{
    height: 100%;
}

/* gallery end*/

/* service */
    /* table */
    table img{
        max-height: 100px;
    }
    #buttonTable{
        cursor: pointer;
    }
    /* table end */

    /* text carousel */
    .textCarousel{
        display: none;
    }
    .textCarousel:first-of-type{
        display: block;
    }
    /* text carousel end */
/* service end */